@import "tailwindcss";
*{
    margin: 0px;
   box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0,0.7);
}

.container{
    width: 95%;
   
    margin: auto;
}

.bg-org{
    background-color: #ff5252;
}
.link:hover{
    color: #ff5252;
}
.MuiBadge-badge{
    background-color:#ff5252 !important; ;
}
nav ul button{
    text-transform: capitalize !important;
    
}

nav ul button .MuiTouchRipple-root ::before{
    background-color: rgba(0, 0, 0,0.1) !important;
}